/*--------- Default settings ---------*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 30px;
    background-color: snow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

/*--------- Form and fields-input ---------*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 20px 0;
}

span,
form p {
    font-weight: bold;
}

.btn{
    border: 1px solid rgba(31, 31, 31, 0.25);
    width: 30%;
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.error {
    color: red;
    font-size: .8em;
}

select.input-field {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

textarea.input-field {
    /*resize: none;*/
    padding: 20px;
}

/*--------- Navigation ---------*/

.nav-container {
    display: flex;
}

.nav-ul {
    display: flex;
}

.nav-li {
    list-style: none;
    border: 1px solid black;
    margin: 0 20px;
    transition: 0.5s;
}

.nav-li:hover {
    background-color: tomato;
    transition: 0.5s;
}

.li-a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 25px
}

/*--------- Index ---------*/
.title {
    font-size: 50px;
    margin: 20px 0;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.item-name {
    margin: 20px 0;
    font-size: 30px;
}

.item-img {
    border: 1px solid black;
    padding: 5px;
    width: 350px;
    height: 350px;
    object-fit: contain;
}
